<div class="btn-group-vertical">
    <p class= "lab"> Contacts</p>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="right" title="Shelly"><p class= "label">Shelly</p><img src="/assets/contact.png" class = "bye" height ="45" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Frank"><p class= "label">Frank</p><img src="/assets/contact.png" class = "bye" height ="45" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Donovan"><p class= "label">Donovan</p><img src="/assets/contact.png" class = "bye" height ="40" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Trump"><p class= "label">Trump</p><img src="/assets/contact.png" class = "bye" height ="40" width="50" /></button>
  </div>