<div class="card-group">
      <div class="card bg-dark text-white">
        <img src="assets/userprofile.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Your Story</h5>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img src="/assets/waterfall.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">John</h5>
          <p class="card-text">Updated just now</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img src="assets/sunset.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Ricki</h5>
          <p class="card-text">Last updated 14 mins ago</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img src="assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Martinez</h5>
          <p class="card-text">Last updated 1 hour ago</p>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <img src="assets/trump.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Hubert</h5>
          <p class="card-text">Last updated 30 seconds ago</p>
        </div>
      </div>
  </div>
  