<fb-user-info>Loading...</fb-user-info>
<fb-topnavbar>Loading...</fb-topnavbar>
<br>
<br>
<br>

<div class="d-flex justify-content-between">
    <div class = "container-fluid d-flex flex-column">
        <fb-sidenavbar img = "/assets/houseicon.png" title = "Home" caption = "Home">Loading...</fb-sidenavbar>
        <fb-sidenavbar img = "/assets/watch.png" title = "Watch" caption = "Watch">Loading...</fb-sidenavbar>
        <fb-sidenavbar img = "/assets/market.png" title = "Marketplace" caption = "Marketplace">Loading...</fb-sidenavbar>
        <fb-sidenavbar img = "/assets/groupicon.png" title = "Groups" caption = "Groups">Loading...</fb-sidenavbar>
        <fb-sidenavbar img = "/assets/game.png" title = "Gaming" caption = "Games">Loading...</fb-sidenavbar>
        </div>
    <div class = "container-fluid d-flex justify-content-center">

        <div *ngFor="let card of cards">
            <fb-vertical-card img = {{card.img}} user = {{card.user}} update={{card.update}}>Loading...</fb-vertical-card>
        </div>
        <!--
        <fb-vertical-card img = "assets/userprofile.png" user = "Users Story" update="Last Updated just now">Loading...</fb-vertical-card>
        <fb-vertical-card img = "assets/waterfall.png" user = "Shellys Story" update="Last Updated 20 minutes ago">Loading...</fb-vertical-card>
        <fb-vertical-card img = "assets/sunset.png" user = "Franks Story" update="Last Updated an 1hr ago">Loading...</fb-vertical-card>
        <fb-vertical-card img = "assets/mountain.png" user = "Donovans Story" update="Last Updated yesterday">Loading...</fb-vertical-card>
        <fb-vertical-card img = "assets/trump.png" user = "Huberts Story" update="Last Updated last week">Loading...</fb-vertical-card>
    -->
        </div>
    <div class = "right container-fluid d-flex flex-column">
            <fb-rightnavbar img = "/assets/contact.png" title = "Shelly" name= "Shelly">Loading...</fb-rightnavbar>
            <fb-rightnavbar img = "/assets/contact.png" title = "Frank" name= "Frank">Loading...</fb-rightnavbar>
            <fb-rightnavbar img = "/assets/contact.png" title = "Donovan" name= "Donovan">Loading...</fb-rightnavbar>
            <fb-rightnavbar img = "/assets/contact.png" title = "Trump" name= "Trump">Loading...</fb-rightnavbar>
        </div>








</div>





<!--
<div class="d-flex justify-content-between">
     <left-sidebar class="...">...</left-sidebar>
     <middle-page class="...">...</middle-page>
     <right-sidebar class="...">...</right-sidebar>
</div>

-->