<nav class="navbar navbar-light bg-light">
  <div class="container">
    <svg class="bi" width="50" height="40" fill="currentColor">
      <use xlink:href="/assets/bootstrap-icons.svg#facebook"/>
    </svg>
    <form class="search">
      <input class="form-control me-2" type="search" placeholder="Search Facebook" aria-label="Search">
    </form>
    <div class="btn-group" role="group">
      <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home"><img src="/assets/houseicon.png" height ="40" width="50" /></button>
      <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Watch"><img src="/assets/watch.png" height ="40" width="50" /></button>
      <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Marketplace"><img src="/assets/market.png" height ="40" width="50" /></button>
      <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Groups"><img src="/assets/groupicon.png" height ="40" width="50" /></button>
      <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Gaming"><img src="/assets/game.png" height ="40" width="50" /></button>
    </div>
    </div>
</nav>