<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/Facebook_Logo.png" alt="" width="40" height="40">
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">Groups</div>
        <div class="p-2 bd-highlight">Marketplace</div>
        <div class="p-2 bd-highlight">Watch</div>
        <div class="p-2 bd-highlight">Home</div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          </div>
    </div>
</nav>