<div class="btn-group-vertical">
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="right" title="User Profile"><img src="/assets/iconn.png" class = "bye" height ="45" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Friends"><img src="/assets/friends.png" class = "bye" height ="45" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Groups"><img src="/assets/groupicon.png" class = "bye" height ="40" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Marketplace"><img src="/assets/market.png" class = "bye" height ="40" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Watch"><img src="/assets/watch.png"  class = "bye" height ="40" width="50" /></button>
    <button type="button" class= "hi" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Memories"><img src="/assets/clock.png"  class = "bye" height ="40" width="50" /></button>
  </div>